@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TitleContent
{
    SportStore : Check Out
}

@section MainContent
{
    <h2>Check out now</h2>
    Please enter your details, and we'll ship your goods right away!
    @Html.ValidationSummary()
    @using(Html.BeginForm())
    {
        <h3>Ship to</h3>
        <div id="test">
            <label>Name</label>@Html.TextBox("Name")
            <h3>Address</h3>
            <label>Line 1:</label>@Html.TextBox("Line1") <br />
            <label>Line 2:</label>@Html.TextBox("Line2") <br />
            <label>Line 3:</label>@Html.TextBox("Line3") <br />
            <label>City:</label>@Html.TextBox("City") <br />
            <label>State:</label>@Html.TextBox("State") <br />
            <label>Zip:</label>@Html.TextBox("Zip") <br />
            <label>Country:</label>@Html.TextBox("Country") <br />
        </div>
        <h3>Options</h3>
        @Html.CheckBox("GiftWrap") @:Gift wrap these items
        <p align="center"><input type="submit" value="Complete order" /></p>
    }
}
