@model DomainModel.Entities.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section TitleContent
{
    Admin : Edit @Model.Name 
}

@section MainContent
{
    <h1>Edit @Model.Name</h1>
    <table>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Hidden("ProductID")

        <tr>
            <td>Name</td>
            <td>@Html.TextBox("Name")</td>
            <td><div>@Html.ValidationMessage("Name")</div></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@Html.TextArea("Description", null, 4, 21, null)</td>
            <td><div>@Html.ValidationMessage("Descriptiom")</div></td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@Html.TextBox("Price")</td>
            <td><div>@Html.ValidationMessage("Price")</div></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>@Html.TextBox("Category")</td>
            <td>@Html.ValidationMessage("Category")</td>
        </tr>
        <tr>
            <td>Image</td>
            <td>@if (Model.ImageData == null)
                {
                    @:None
                }
                else
                {
                    <img src="@Url.Action("GetImage", "Products", new { Model.ProductID })" />
                }
            </td>
            <td>
                Upload new image: <input type="file" name="Image" />
            </td>
        </tr>
        <tr>
          <td><input type="submit" value="Save" /></td>
          <td>@Html.ActionLink("Cancel and return to List", "Index")</td>
        </tr>
        
    }
    </table>
}
