<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/adminstyle.css")
    <meta name="description" content="The description of my page" />
    <title>@RenderSection("TitleContent")</title>
</head>
<body>
    @if(TempData["message"] != null)
    {
        <div class="message">@Html.Encode(TempData["message"])</div>
    }
    <div id="content">
        @RenderSection("MainContent")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
